.btn-inline {
  border: none;
  font-size: inherit;
  color: $color-primary;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: $color-gray-dark-1;
  }
}