
  .gallery {
    display: flex;


    &__item {

    }

    &__photo {
      width: 100%;
      display: block; // img should always be a block
    }

  }

  .Overview {
    display: flex;
    border-bottom: 1px solid $color-gray-light-2;

    &__Heading {

    }

    &__Stars {
       margin-right: auto;
    }

    &__icon-star,
    &__icon-location  {
      width: 1.75rem;
      height: 1.75rem;
      fill: $color-primary;
    }

    &__Location {
    }

    &__rating {

    }

    &__Rating-Average {

    }

    &__Rating-Count {

    }
  }










