
  .gallery {
    display: flex;


    &__item {

    }

    &__photo {
      width: 100%;
      display: block; // img should always be a block
    }

  }

  .Overview {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-gray-light-3;

    &__Heading {
      font-size: 2.25rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
    }

    &__Stars {
       margin-right: auto;
    }

    &__icon-star,
    &__icon-location  {
      width: 1.75rem;
      height: 1.75rem;
      fill: $color-primary;
    }

    &__Location {
    }

    &__rating {

    }

    &__Rating-Average {

    }

    &__Rating-Count {

    }
  }










