.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $color-gray-light-2;
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: $color-gray-light-3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  display: flex;
}

.sidebar {
  background-color: $color-gray-dark-1;
  flex: 0 0 18%; // flex: grow | shrink | basis
} //child of content

.hotel-view {
  background-color: yellow;
  flex: 1;

} //child of content

